# Database (Neon PostgreSQL - https://neon.tech)
DATABASE_URL="postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="generate-dengan-perintah-openssl-rand-base64-32"
NEXTAUTH_URL="https://namadomain.com"

# Telegram Bot
NEXT_PUBLIC_TELEGRAM_BOT_URL="https://t.me/NexvoraBot"
